# Querying with SQLAlchemy - Lab

## Introduction

In this lesson, we'll learn how to use SQLAlchemy to write queries about Microsoft's _Northwind Traders_ database!

## Objectives

You will be able to:

* Read and understand an ERD diagram
* Create queries with SQLAlchemy, including queries that involve many-to-many relationships

## Getting Started

In order to complete this lab, we'll need to download a SQLite3-compatible version of the _Northwind Traders_ database from Microsoft.  Microsoft built this database back in the year 2000 to help showcase their SQL Server technology. Since then, it has been open-sourced and has become a great practice tool for every new generation of SQL learners. 

Lucky for us, some generous programmers have already converted the Northwind database to a sqlite-compatible version and posted it on Github. We've already included the file the SQL database file that we'll be working with in the repo for this folder, along with the following ERD Diagram. However, if you would like to work with the larger version of this dataset at a future time, just clone [this repo](https://github.com/jpwhite3/northwind-SQLite3) and follow their instructions to access it!

## ERD Diagram For Northwind Traders

The following ERD Diagram describes the Northwind Traders Database:

<img src='Northwind_ERD.png'>

If the text seems a bit hard to read inside this jupyter notebook, just go into the folder for this repo and open the `Northwind_ERD.png` file manually to see it full size. 

## Connecting to the Database

The first thing we'll need to do is connect to the Northwind Traders database, which can be found in the file `Northwind_small.sqlite`.

In the cell below, import the necessary tools from the `sqlalchemy` library, and take the necessary steps to connect to the database.

**_NOTE:_** We won't be modifying the information in the database at all, just querying it, so there's no need to import the various things you would need to create declarative base classes and the like.

In [2]:
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy.orm import Session, sessionmaker

engine = create_engine("sqlite:///Northwind_small.sqlite",
                      echo=True)
Session = sessionmaker(bind=engine)
session = Session()

## Get Table Names and Table Information

One of the most useful things we can do when working with a new database is to inspect the tables until we have a solid idea of what we're looking at.  As you work through this lab, you'll notice that there are some small discrepancies between the Table/Column names listed in the ERD and what they are actually are in the database.  This may be annoying, but this is not an accident--sometimes, documentation is wrong!  By learning how to inspect what tables exist in a database, as well as how which columns exist inside a table, we can save ourselves a lot of headaches by double checking. 

In the cell below:

* Import `inspect` from sqlalchemy
* Create an inspector object by passing in `engine` to `inspect`
* Use the appropriate inspector function to get the names of all tables

In [3]:
from sqlalchemy import inspect

inspector = inspect(engine)

print(inspector.get_table_names())

2019-04-23 21:02:45,500 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-04-23 21:02:45,502 INFO sqlalchemy.engine.base.Engine ()
2019-04-23 21:02:45,505 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-04-23 21:02:45,507 INFO sqlalchemy.engine.base.Engine ()
2019-04-23 21:02:45,510 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2019-04-23 21:02:45,510 INFO sqlalchemy.engine.base.Engine ()
['Category', 'Customer', 'CustomerCustomerDemo', 'CustomerDemographic', 'Employee', 'EmployeeTerritory', 'Order', 'OrderDetail', 'Product', 'Region', 'Shipper', 'Supplier', 'Territory']

Great! We can now see exactly what each Table is named. 

**_Question_**:

Are there any discrepancies between the table names and the ERD diagrams? if so, what are they?

Write your answer below this line:
________________________________________________________________________________________________________________________________



Let's inspect the column names on one of the tables as well. In the cell below, call the appropriate method to get all column names for the `'Employee'` table.

In [4]:
inspector.get_columns('Employee')

2019-04-23 21:02:46,016 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Employee")
2019-04-23 21:02:46,104 INFO sqlalchemy.engine.base.Engine ()

[{'name': 'Id',
  'type': INTEGER(),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 1},
 {'name': 'LastName',
  'type': VARCHAR(length=8000),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'FirstName',
  'type': VARCHAR(length=8000),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'Title',
  'type': VARCHAR(length=8000),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'TitleOfCourtesy',
  'type': VARCHAR(length=8000),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'BirthDate',
  'type': VARCHAR(length=8000),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'HireDate',
  'type': VARCHAR(length=8000),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'Address',
  'type': VARCHAR(length=8000),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'City',
  'type': VARCHAR(length=8000),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'Region',
  'type': VARCHAR(length=8000),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'PostalCode',
  'type': VARCHAR(length=8000),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'Country',
  'type': VARCHAR(length=8000),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'HomePhone',
  'type': VARCHAR(length=8000),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'Extension',
  'type': VARCHAR(length=8000),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'Photo',
  'type': BLOB(),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'Notes',
  'type': VARCHAR(length=8000),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'ReportsTo',
  'type': INTEGER(),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0},
 {'name': 'PhotoPath',
  'type': VARCHAR(length=8000),
  'nullable': True,
  'default': None,
  'autoincrement': 'auto',
  'primary_key': 0}]

That output is good, but its a bit messy. Let's write a function that makes it a bit more readable, and only tells us what we need to know. 

The current structure of the output is a list of dictionaries. Complete the function below so that when the function is called and passed a table name, it prints out the name and type of each column in a well-formatted way.

In [5]:
def get_columns_info(col_name):
    cols_list = inspector.get_columns(col_name)
    
    print("Table Name: {}".format(col_name))
    print("")
    
    for val in cols_list:
        print("Name: {} - Type: {}".format(val['name'], val['type']))

get_columns_info('Employee')

Table Name: Employee

Name: Id - Type: INTEGER
Name: LastName - Type: VARCHAR(8000)
Name: FirstName - Type: VARCHAR(8000)
Name: Title - Type: VARCHAR(8000)
Name: TitleOfCourtesy - Type: VARCHAR(8000)
Name: BirthDate - Type: VARCHAR(8000)
Name: HireDate - Type: VARCHAR(8000)
Name: Address - Type: VARCHAR(8000)
Name: City - Type: VARCHAR(8000)
Name: Region - Type: VARCHAR(8000)
Name: PostalCode - Type: VARCHAR(8000)
Name: Country - Type: VARCHAR(8000)
Name: HomePhone - Type: VARCHAR(8000)
Name: Extension - Type: VARCHAR(8000)
Name: Photo - Type: BLOB
Name: Notes - Type: VARCHAR(8000)
Name: ReportsTo - Type: INTEGER
Name: PhotoPath - Type: VARCHAR(8000)

# Expected Output:

Table Name: Employee

Name: Id 	 Type: INTEGER
Name: LastName 	 Type: VARCHAR(8000)
Name: FirstName 	 Type: VARCHAR(8000)
Name: Title 	 Type: VARCHAR(8000)
Name: TitleOfCourtesy 	 Type: VARCHAR(8000)
Name: BirthDate 	 Type: VARCHAR(8000)
Name: HireDate 	 Type: VARCHAR(8000)
Name: Address 	 Type: VARCHAR(8000)
Name: City 	 Type: VARCHAR(8000)
Name: Region 	 Type: VARCHAR(8000)
Name: PostalCode 	 Type: VARCHAR(8000)
Name: Country 	 Type: VARCHAR(8000)
Name: HomePhone 	 Type: VARCHAR(8000)
Name: Extension 	 Type: VARCHAR(8000)
Name: Photo 	 Type: BLOB
Name: Notes 	 Type: VARCHAR(8000)
Name: ReportsTo 	 Type: INTEGER
Name: PhotoPath 	 Type: VARCHAR(8000)

## Connecting and Executing Raw SQL Statements

Sometimes, the easiest thing for us to do is to just execute a raw SQL statement.  This is very easy with SQLAlchemy--we just need to establish a connection, and then use the appropriat methods to execute SQL statements!

In the cell below:

* Create a connection using the `engine` object's appropriate method and store it in the variable `con`
* Use the appropriate method from `con` to execute a raw SQL statement (in the form of a string) that gets everything from the `'Customer'` table with a LIMIT of 5. Store the results returned in the variable `rs`
* Use the `fetchall()` method to display all results from `rs`.

In [6]:
query = """
SELECT 
    *
FROM 
    Customer
LIMIT 5;
"""

con = engine.connect()
rs = con.execute(query)

print(rs.fetchall())

2019-04-23 21:02:47,693 INFO sqlalchemy.engine.base.Engine
SELECT
    *
FROM
    Customer
LIMIT 5;

2019-04-23 21:02:47,694 INFO sqlalchemy.engine.base.Engine ()
[('ALFKI', 'Alfreds Futterkiste', 'Maria Anders', 'Sales Representative', 'Obere Str. 57', 'Berlin', 'Western Europe', '12209', 'Germany', '030-0074321', '030-0076545'), ('ANATR', 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Owner', 'Avda. de la Constitución 2222', 'México D.F.', 'Central America', '05021', 'Mexico', '(5) 555-4729', '(5) 555-3745'), ('ANTON', 'Antonio Moreno Taquería', 'Antonio Moreno', 'Owner', 'Mataderos  2312', 'México D.F.', 'Central America', '05023', 'Mexico', '(5) 555-3932', None), ('AROUT', 'Around the Horn', 'Thomas Hardy', 'Sales Representative', '120 Hanover Sq.', 'London', 'British Isles', 'WA1 1DP', 'UK', '(171) 555-7788', '(171) 555-6750'), ('BERGS', 'Berglunds snabbköp', 'Christina Berglund', 'Order Administrator', 'Berguvsvägen  8', 'Luleå', 'Northern Europe', 'S-958 22', 'Sweden', '0921-12 34 65', '0921-12 34 67')]

# Expected Output:

[('ALFKI', 'Alfreds Futterkiste', 'Maria Anders', 'Sales Representative', 'Obere Str. 57', 'Berlin', 'Western Europe', '12209', 'Germany', '030-0074321', '030-0076545'), ('ANATR', 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Owner', 'Avda. de la Constitución 2222', 'México D.F.', 'Central America', '05021', 'Mexico', '(5) 555-4729', '(5) 555-3745'), ('ANTON', 'Antonio Moreno Taquería', 'Antonio Moreno', 'Owner', 'Mataderos  2312', 'México D.F.', 'Central America', '05023', 'Mexico', '(5) 555-3932', None), ('AROUT', 'Around the Horn', 'Thomas Hardy', 'Sales Representative', '120 Hanover Sq.', 'London', 'British Isles', 'WA1 1DP', 'UK', '(171) 555-7788', '(171) 555-6750'), ('BERGS', 'Berglunds snabbköp', 'Christina Berglund', 'Order Administrator', 'Berguvsvägen  8', 'Luleå', 'Northern Europe', 'S-958 22', 'Sweden', '0921-12 34 65', '0921-12 34 67')]

## Incorporating Pandas DataFrames

So far we've been able to easily connect to a SQL database, inspect the tables, and execute queries. However, the results returned from queries haven't been in an easily readable format.  We'll fix that by taking the results and storing it in a pandas DataFrame!

In the cell below:

* Import pandas and set the standard alias.
* Create and execute a query that gets The firstname, lastname, and title of every person in the `'Employee'` table.
* Create a pandas DataFrame out of the results returned from `rs.fetchall()`
* Display the head of the new DataFRame

In [7]:
import pandas as pd

query = """
SELECT
    firstname, lastname, title
FROM
    Employee;"""

rs = con.execute(query)
df = pd.DataFrame(rs.fetchall())
df.head()

2019-04-23 21:02:49,071 INFO sqlalchemy.engine.base.Engine
SELECT
    firstname, lastname, title
FROM
    Employee;
2019-04-23 21:02:49,072 INFO sqlalchemy.engine.base.Engine ()

          0          1                      2
0     Nancy    Davolio   Sales Representative
1    Andrew     Fuller  Vice President, Sales
2     Janet  Leverling   Sales Representative
3  Margaret    Peacock   Sales Representative
4    Steven   Buchanan          Sales Manager

Nice! We can now read our results.  However, the columns of our DataFrame aren't labeled.  Luckily, pandas plays nicely with the sqlalchemy library, and can actually execute sql queries!

### Writing Queries with Pandas

In the cell below:

* Use the appropriate method from pandas to select all columns for every row in the `[Order]` table where the customer is `'VINET'`
* Be sure to pass in our `engine` as the 2nd parameter, otherwise it won't work!
* Display the head of the DataFrame created to ensure everything worked correctly.

In [8]:
df = pd.read_sql_query("SELECT firstname, lastname, title FROM Employee;", engine)
df.head()

2019-04-23 21:02:54,066 INFO sqlalchemy.engine.base.Engine SELECT firstname, lastname, title FROM Employee;
2019-04-23 21:02:54,067 INFO sqlalchemy.engine.base.Engine ()

  FirstName   LastName                  Title
0     Nancy    Davolio   Sales Representative
1    Andrew     Fuller  Vice President, Sales
2     Janet  Leverling   Sales Representative
3  Margaret    Peacock   Sales Representative
4    Steven   Buchanan          Sales Manager

Great! As we can see from the output above, when we let pandas execute the SQL query for us, the DataFrame now contains columns with the correct labels. This is a great way to execute SQL while still making sure our results are easy to read and manipulate by using DataFrames!

## Executing JOIN Statements

Let's try executing a JOIN statement inside `pd.read_sql_query`.

In the cell below:

* Write a query that gets the Order ID, Company Name, and the total count of orders made by each company (as num_orders).
* Group the results by Company Name
* Order the results by num_orders, descending
* Display the head of the DataFrame to ensure everything worked correctly.

In [10]:
get_columns_info('Order')

2019-04-23 21:03:49,286 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Order")
2019-04-23 21:03:49,288 INFO sqlalchemy.engine.base.Engine ()
Table Name: Order

Name: Id - Type: INTEGER
Name: CustomerId - Type: VARCHAR(8000)
Name: EmployeeId - Type: INTEGER
Name: OrderDate - Type: VARCHAR(8000)
Name: RequiredDate - Type: VARCHAR(8000)
Name: ShippedDate - Type: VARCHAR(8000)
Name: ShipVia - Type: INTEGER
Name: Freight - Type: DECIMAL
Name: ShipName - Type: VARCHAR(8000)
Name: ShipAddress - Type: VARCHAR(8000)
Name: ShipCity - Type: VARCHAR(8000)
Name: ShipRegion - Type: VARCHAR(8000)
Name: ShipPostalCode - Type: VARCHAR(8000)
Name: ShipCountry - Type: VARCHAR(8000)

In [11]:
get_columns_info('Customer')

2019-04-23 21:05:55,054 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Customer")
2019-04-23 21:05:55,056 INFO sqlalchemy.engine.base.Engine ()
Table Name: Customer

Name: Id - Type: VARCHAR(8000)
Name: CompanyName - Type: VARCHAR(8000)
Name: ContactName - Type: VARCHAR(8000)
Name: ContactTitle - Type: VARCHAR(8000)
Name: Address - Type: VARCHAR(8000)
Name: City - Type: VARCHAR(8000)
Name: Region - Type: VARCHAR(8000)
Name: PostalCode - Type: VARCHAR(8000)
Name: Country - Type: VARCHAR(8000)
Name: Phone - Type: VARCHAR(8000)
Name: Fax - Type: VARCHAR(8000)

In [25]:
query = """
SELECT c.Id
,      c.CompanyName
,      COUNT(*) num_orders
FROM [Order] o
INNER JOIN 
    Customer c
    ON o.CustomerID = c.Id
    GROUP BY c.CompanyName
    ORDER BY num_orders DESC;"""

df = pd.read_sql_query(query, engine)
df.head()

2019-04-23 21:21:48,228 INFO sqlalchemy.engine.base.Engine
SELECT c.Id
,      c.CompanyName
,      COUNT(*) num_orders
FROM [Order] o
INNER JOIN
    Customer c
    ON o.CustomerID = c.Id
    GROUP BY c.CompanyName
    ORDER BY num_orders DESC;
2019-04-23 21:21:48,230 INFO sqlalchemy.engine.base.Engine ()

      Id                   CompanyName  num_orders
0  SAVEA            Save-a-lot Markets          31
1  ERNSH                  Ernst Handel          30
2  QUICK                    QUICK-Stop          28
3  FOLKO                Folk och fä HB          19
4  HUNGO  Hungry Owl All-Night Grocers          19

### Expected Output

<img src='join_results.png'>

Great job! Let's see if we can execute a join that includes entities with a many-to-many relationship.

### JOINs with Many-To-Many Relationships

In the cell below:

* Write a query that selects the LastName, FirstName and number of territories assigned for every employee. 
* Group the results by employee lastname
* Order by the total number of territories assigned to each employee, descending
* You'll need to make use a join table to solve this one--be sure to take a look at the ERD diagram again if needed!
* Store your results in a DataFrame and display the head to ensure that everything worked correctly.

**_NOTE:_** For long SQL statements, consider using the multiline string format in python, denoted by `"""three quotes"""` at the beginning and end.  Note that if you hit enter to move to another line, be sure to add an `\` character at the end of the line to escape it--otherwise, your sql statements will contain `\n` newline characters wherever you hit enter to move to the next line.

In [32]:
q = """
SELECT
    e.LastName
,   e.FirstName
,   COUNT(t.ID) TerritoriesAssigned
FROM Territory t
INNER JOIN 
    (SELECT * 
        FROM EmployeeTerritory e1 
    INNER JOIN Employee e2
    ON e1.EmployeeID = e2.Id) e
ON e.TerritoryId = t.Id
GROUP BY e.LastName
ORDER BY TerritoriesAssigned DESC;
"""

df2 = pd.read_sql_query(q, engine)
df2.head()

2019-04-23 21:31:37,843 INFO sqlalchemy.engine.base.Engine
SELECT
    e.LastName
,   e.FirstName
,   COUNT(t.ID) TerritoriesAssigned
FROM Territory t
INNER JOIN
    (SELECT *
        FROM EmployeeTerritory e1
    INNER JOIN Employee e2
    ON e1.EmployeeID = e2.Id) e
ON e.TerritoryId = t.Id
GROUP BY e.LastName
ORDER BY TerritoriesAssigned DESC;

2019-04-23 21:31:37,844 INFO sqlalchemy.engine.base.Engine ()

    LastName FirstName  TerritoriesAssigned
0       King    Robert                   10
1   Buchanan    Steven                    7
2  Dodsworth      Anne                    7
3     Fuller    Andrew                    7
4     Suyama   Michael                    5

#### Expected Output:

<img src='many-to-many-results.png'>

Great job! You've demonstrated proficiency using raw sql with SQLAlchemy. However, we haven't yet touched all the fun declarative stuff.  Let's get some practice working with SQLAlchemy `session` objects below!

## Using SQLAlchemy Sessions

So far, we've just been using SQLAlchemy as a way to connect to a database and run SQL queries. However, SQLAlchemy is an **_Object-Relational Mapper_**, and can map entities in our database to python objects! This can be incredibly helpful when we need to incorporate data from our database into an object-oriented program or model. 

Let's start by getting some practice with `session` objects, because that's where all the magic happens.

### Using `.query` Objects

Recall that we created a `session` object at the beginning of this lab by using SQLAlchemy's `sessionmaker` function and binding it to our `engine` object.  We haven't used our `session` object too much thus far, but now we'll use it for queries!

The `session` object contains a `.query()` method which returns a query object containing the results of our query, with the results mapped to objects.  

Before we can make use of Object-Relational Mappings, we need to make sure that we have mappings created that map the tables in our existing database to objects in python.  We don't want to have to do this manually, so we'll make use the `automap` module inside of `sqlalchemy.ext`.

In the cell below:

* Import `MetaData` from `sqlalchemy`
* Import `automap_base` from `sqlalchemy.ext.automap`
* Create a `MetaData` object
* Use the metadata object's `reflect` method on our `engine`
* Call `automap_base` and set the `metadata` parameter to our `metadata`. Store the results returned inside of the variable `Base`
* Call `base.prepare()`
* Map `Employee` and `Customer` to the `Employee` and `Customer` classes, which can be found inside of `Base.classes`

In [35]:
from sqlalchemy import MetaData
from sqlalchemy.ext.automap import automap_base

metadata = MetaData()

metadata.reflect(engine)

Base = automap_base(metadata=metadata)
Base.prepare()
# Don't forget to .prepare()!

Employee, Customer = Base.classes.Employee, Base.classes.Customer

2019-04-23 21:36:06,920 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2019-04-23 21:36:06,921 INFO sqlalchemy.engine.base.Engine ()
2019-04-23 21:36:07,005 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Category")
2019-04-23 21:36:07,006 INFO sqlalchemy.engine.base.Engine ()
2019-04-23 21:36:07,008 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Category' AND type = 'table'
2019-04-23 21:36:07,009 INFO sqlalchemy.engine.base.Engine ()
2019-04-23 21:36:07,011 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Category")
2019-04-23 21:36:07,012 INFO sqlalchemy.engine.base.Engine ()
2019-04-23 21:36:07,014 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Category' AND type = 'table'
2019-04-23 21:36:07,015 INFO sqlalchemy.engine.base.Engine ()
2019-04-23 21:36:07,018 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Category")
2019-04-23 21:36:07,019 INFO sqlalchemy.engine.base.Engine ()
2019-04-23 21:36:07,020 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Category")
2019-04-23 21:36:07,021 INFO sqlalchemy.engine.base.Engine ()
2019-04-23 21:36:07,023 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Category' AND type = 'table'
2019-04-23 21:36:07,023 INFO sqlalchemy.engine.base.Engine ()
2019-04-23 21:36:07,025 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Customer")
2019-04-23 21:36:07,025 INFO sqlalchemy.engine.base.Engine ()
2019-04-23 21:36:07,027 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Customer' AND type = 'table'
2019-04-23 21:36:07,028 INFO sqlalchemy.engine.base.Engine ()
2019-04-23 21:36:07,029 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Customer")
2019-04-23 21:36:07,030 INFO sqlalchemy.engine.base.Engine ()
2019-04-23 21:36:07,031 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Customer' AND type = 'table'
2019-04-23 21:36:07,031 INFO sqlalchemy.engine.base.Engine ()
2019-04-23 21:36:07,032 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Customer")
2019-04-23 21:36:07,033 INFO sqlalchemy.engine.base.Engine ()
2019-04-23 21:36:07,033 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Customer")
2019-04-23 21:36:07,034 INFO sqlalchemy.engine.base.Engine ()
2019-04-23 21:36:07,035 INFO sqlalchemy.engine.base.Engine PRAGMA index_info("sqlite_autoindex_Customer_1")
2019-04-23 21:36:07,036 INFO sqlalchemy.engine.base.Engine ()
2019-04-23 21:36:07,037 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Customer' AND type = 'table'
2019-04-23 21:36:07,037 INFO sqlalchemy.engine.base.Engine ()
2019-04-23 21:36:07,039 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("CustomerCustomerDemo")
2019-04-23 21:36:07,039 INFO sqlalchemy.engine.base.Engine ()
2019-04-23 21:36:07,042 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'CustomerCustomerDemo' AND type = 'table'
2019-04-23 21:36:07,043 INFO sqlalchemy.engine.base.Engine ()
2019-04-23 21:36:07,044 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("CustomerCustomerDemo")
2019-04-23 21:36:07,045 INFO sqlalchemy.engine.base.Engine ()
2019-04-23 21:36:07,046 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'CustomerCustomerDemo' AND type = 'table'
2019-04-23 21:36:07,046 INFO sqlalchemy.engine.base.Engine ()
2019-04-23 21:36:07,047 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("CustomerCustomerDemo")
2019-04-23 21:36:07,047 INFO sqlalchemy.engine.base.Engine ()
2019-04-23 21:36:07,048 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("CustomerCustomerDemo")
2019-04-23 21:36:07,048 INFO sqlalchemy.engine.base.Engine ()
2019-04-23 21:36:07,049 INFO sqlalchemy.engine.base.Engine PRAGMA index_info("sqlite_autoindex_CustomerCustomerDemo_1")
2019-04-23 21:36:07,050 INFO sqlalchemy.engine.base.Engine ()
2019-04-23 21:36:07,050 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'CustomerCustomerDemo' AND type = 'table'
2019-04-23 21:36:07,051 INFO sqlalchemy.engine.base.Engine ()
2019-04-23 21:36:07,052 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("CustomerDemographic")
2019-04-23 21:36:07,052 INFO sqlalchemy.engine.base.Engine ()
2019-04-23 21:36:07,053 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'CustomerDemographic' AND type = 'table'
2019-04-23 21:36:07,054 INFO sqlalchemy.engine.base.Engine ()
2019-04-23 21:36:07,055 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("CustomerDemographic")
2019-04-23 21:36:07,055 INFO sqlalchemy.engine.base.Engine ()
2019-04-23 21:36:07,056 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'CustomerDemographic' AND type = 'table'
2019-04-23 21:36:07,056 INFO sqlalchemy.engine.base.Engine ()
2019-04-23 21:36:07,057 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("CustomerDemographic")
2019-04-23 21:36:07,057 INFO sqlalchemy.engine.base.Engine ()
2019-04-23 21:36:07,058 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("CustomerDemographic")
2019-04-23 21:36:07,059 INFO sqlalchemy.engine.base.Engine ()
2019-04-23 21:36:07,059 INFO sqlalchemy.engine.base.Engine PRAGMA index_info("sqlite_autoindex_CustomerDemographic_1")
2019-04-23 21:36:07,060 INFO sqlalchemy.engine.base.Engine ()
2019-04-23 21:36:07,061 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'CustomerDemographic' AND type = 'table'
2019-04-23 21:36:07,061 INFO sqlalchemy.engine.base.Engine ()
2019-04-23 21:36:07,062 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Employee")
2019-04-23 21:36:07,063 INFO sqlalchemy.engine.base.Engine ()
2019-04-23 21:36:07,064 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Employee' AND type = 'table'
2019-04-23 21:36:07,065 INFO sqlalchemy.engine.base.Engine ()
2019-04-23 21:36:07,066 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Employee")
2019-04-23 21:36:07,066 INFO sqlalchemy.engine.base.Engine ()
2019-04-23 21:36:07,067 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Employee' AND type = 'table'
2019-04-23 21:36:07,067 INFO sqlalchemy.engine.base.Engine ()
2019-04-23 21:36:07,068 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Employee")
2019-04-23 21:36:07,068 INFO sqlalchemy.engine.base.Engine ()
2019-04-23 21:36:07,069 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Employee")
2019-04-23 21:36:07,070 INFO sqlalchemy.engine.base.Engine ()
2019-04-23 21:36:07,070 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Employee' AND type = 'table'
2019-04-23 21:36:07,071 INFO sqlalchemy.engine.base.Engine ()
2019-04-23 21:36:07,072 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("EmployeeTerritory")
2019-04-23 21:36:07,073 INFO sqlalchemy.engine.base.Engine ()
2019-04-23 21:36:07,074 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'EmployeeTerritory' AND type = 'table'
2019-04-23 21:36:07,074 INFO sqlalchemy.engine.base.Engine ()

2019-04-23 21:36:07,075 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("EmployeeTerritory")
2019-04-23 21:36:07,075 INFO sqlalchemy.engine.base.Engine ()
2019-04-23 21:36:07,076 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'EmployeeTerritory' AND type = 'table'
2019-04-23 21:36:07,076 INFO sqlalchemy.engine.base.Engine ()
2019-04-23 21:36:07,077 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("EmployeeTerritory")
2019-04-23 21:36:07,078 INFO sqlalchemy.engine.base.Engine ()
2019-04-23 21:36:07,078 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("EmployeeTerritory")
2019-04-23 21:36:07,079 INFO sqlalchemy.engine.base.Engine ()
2019-04-23 21:36:07,080 INFO sqlalchemy.engine.base.Engine PRAGMA index_info("sqlite_autoindex_EmployeeTerritory_1")
2019-04-23 21:36:07,080 INFO sqlalchemy.engine.base.Engine ()
2019-04-23 21:36:07,081 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'EmployeeTerritory' AND type = 'table'
2019-04-23 21:36:07,081 INFO sqlalchemy.engine.base.Engine ()
2019-04-23 21:36:07,082 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Order")
2019-04-23 21:36:07,083 INFO sqlalchemy.engine.base.Engine ()
2019-04-23 21:36:07,084 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Order' AND type = 'table'
2019-04-23 21:36:07,085 INFO sqlalchemy.engine.base.Engine ()
2019-04-23 21:36:07,086 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Order")
2019-04-23 21:36:07,086 INFO sqlalchemy.engine.base.Engine ()
2019-04-23 21:36:07,087 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Order' AND type = 'table'
2019-04-23 21:36:07,087 INFO sqlalchemy.engine.base.Engine ()
2019-04-23 21:36:07,088 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Order")
2019-04-23 21:36:07,089 INFO sqlalchemy.engine.base.Engine ()
2019-04-23 21:36:07,089 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Order")
2019-04-23 21:36:07,090 INFO sqlalchemy.engine.base.Engine ()
2019-04-23 21:36:07,091 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Order' AND type = 'table'
2019-04-23 21:36:07,091 INFO sqlalchemy.engine.base.Engine ()
2019-04-23 21:36:07,092 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("OrderDetail")
2019-04-23 21:36:07,093 INFO sqlalchemy.engine.base.Engine ()
2019-04-23 21:36:07,093 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'OrderDetail' AND type = 'table'
2019-04-23 21:36:07,104 INFO sqlalchemy.engine.base.Engine ()
2019-04-23 21:36:07,105 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("OrderDetail")
2019-04-23 21:36:07,106 INFO sqlalchemy.engine.base.Engine ()
2019-04-23 21:36:07,107 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'OrderDetail' AND type = 'table'
2019-04-23 21:36:07,107 INFO sqlalchemy.engine.base.Engine ()
2019-04-23 21:36:07,108 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("OrderDetail")
2019-04-23 21:36:07,109 INFO sqlalchemy.engine.base.Engine ()
2019-04-23 21:36:07,110 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("OrderDetail")
2019-04-23 21:36:07,110 INFO sqlalchemy.engine.base.Engine ()
2019-04-23 21:36:07,111 INFO sqlalchemy.engine.base.Engine PRAGMA index_info("sqlite_autoindex_OrderDetail_1")
2019-04-23 21:36:07,112 INFO sqlalchemy.engine.base.Engine ()
2019-04-23 21:36:07,113 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'OrderDetail' AND type = 'table'
2019-04-23 21:36:07,113 INFO sqlalchemy.engine.base.Engine ()
2019-04-23 21:36:07,115 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Product")
2019-04-23 21:36:07,116 INFO sqlalchemy.engine.base.Engine ()
2019-04-23 21:36:07,117 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Product' AND type = 'table'
2019-04-23 21:36:07,117 INFO sqlalchemy.engine.base.Engine ()
2019-04-23 21:36:07,118 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Product")
2019-04-23 21:36:07,118 INFO sqlalchemy.engine.base.Engine ()
2019-04-23 21:36:07,119 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Product' AND type = 'table'
2019-04-23 21:36:07,119 INFO sqlalchemy.engine.base.Engine ()
2019-04-23 21:36:07,120 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Product")
2019-04-23 21:36:07,121 INFO sqlalchemy.engine.base.Engine ()
2019-04-23 21:36:07,121 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Product")
2019-04-23 21:36:07,122 INFO sqlalchemy.engine.base.Engine ()
2019-04-23 21:36:07,123 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Product' AND type = 'table'
2019-04-23 21:36:07,123 INFO sqlalchemy.engine.base.Engine ()
2019-04-23 21:36:07,124 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Region")
2019-04-23 21:36:07,124 INFO sqlalchemy.engine.base.Engine ()
2019-04-23 21:36:07,125 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Region' AND type = 'table'
2019-04-23 21:36:07,126 INFO sqlalchemy.engine.base.Engine ()
2019-04-23 21:36:07,127 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Region")
2019-04-23 21:36:07,127 INFO sqlalchemy.engine.base.Engine ()
2019-04-23 21:36:07,127 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Region' AND type = 'table'
2019-04-23 21:36:07,128 INFO sqlalchemy.engine.base.Engine ()
2019-04-23 21:36:07,129 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Region")
2019-04-23 21:36:07,129 INFO sqlalchemy.engine.base.Engine ()
2019-04-23 21:36:07,130 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Region")
2019-04-23 21:36:07,130 INFO sqlalchemy.engine.base.Engine ()
2019-04-23 21:36:07,131 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Region' AND type = 'table'
2019-04-23 21:36:07,131 INFO sqlalchemy.engine.base.Engine ()
2019-04-23 21:36:07,132 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Shipper")
2019-04-23 21:36:07,133 INFO sqlalchemy.engine.base.Engine ()
2019-04-23 21:36:07,134 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Shipper' AND type = 'table'
2019-04-23 21:36:07,134 INFO sqlalchemy.engine.base.Engine ()
2019-04-23 21:36:07,135 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Shipper")
2019-04-23 21:36:07,136 INFO sqlalchemy.engine.base.Engine ()
2019-04-23 21:36:07,137 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Shipper' AND type = 'table'
2019-04-23 21:36:07,138 INFO sqlalchemy.engine.base.Engine ()
2019-04-23 21:36:07,140 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Shipper")
2019-04-23 21:36:07,140 INFO sqlalchemy.engine.base.Engine ()
2019-04-23 21:36:07,142 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Shipper")
2019-04-23 21:36:07,143 INFO sqlalchemy.engine.base.Engine ()
2019-04-23 21:36:07,144 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Shipper' AND type = 'table'
2019-04-23 21:36:07,145 INFO sqlalchemy.engine.base.Engine ()

2019-04-23 21:36:07,147 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Supplier")
2019-04-23 21:36:07,147 INFO sqlalchemy.engine.base.Engine ()
2019-04-23 21:36:07,149 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Supplier' AND type = 'table'
2019-04-23 21:36:07,149 INFO sqlalchemy.engine.base.Engine ()
2019-04-23 21:36:07,150 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Supplier")
2019-04-23 21:36:07,151 INFO sqlalchemy.engine.base.Engine ()
2019-04-23 21:36:07,152 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Supplier' AND type = 'table'
2019-04-23 21:36:07,152 INFO sqlalchemy.engine.base.Engine ()
2019-04-23 21:36:07,153 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Supplier")
2019-04-23 21:36:07,153 INFO sqlalchemy.engine.base.Engine ()
2019-04-23 21:36:07,154 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Supplier")
2019-04-23 21:36:07,155 INFO sqlalchemy.engine.base.Engine ()
2019-04-23 21:36:07,156 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Supplier' AND type = 'table'
2019-04-23 21:36:07,156 INFO sqlalchemy.engine.base.Engine ()
2019-04-23 21:36:07,157 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Territory")
2019-04-23 21:36:07,158 INFO sqlalchemy.engine.base.Engine ()
2019-04-23 21:36:07,159 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Territory' AND type = 'table'
2019-04-23 21:36:07,160 INFO sqlalchemy.engine.base.Engine ()
2019-04-23 21:36:07,161 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Territory")
2019-04-23 21:36:07,162 INFO sqlalchemy.engine.base.Engine ()
2019-04-23 21:36:07,163 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Territory' AND type = 'table'
2019-04-23 21:36:07,163 INFO sqlalchemy.engine.base.Engine ()
2019-04-23 21:36:07,165 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Territory")
2019-04-23 21:36:07,166 INFO sqlalchemy.engine.base.Engine ()
2019-04-23 21:36:07,167 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Territory")
2019-04-23 21:36:07,167 INFO sqlalchemy.engine.base.Engine ()
2019-04-23 21:36:07,168 INFO sqlalchemy.engine.base.Engine PRAGMA index_info("sqlite_autoindex_Territory_1")
2019-04-23 21:36:07,168 INFO sqlalchemy.engine.base.Engine ()
2019-04-23 21:36:07,169 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Territory' AND type = 'table'
2019-04-23 21:36:07,170 INFO sqlalchemy.engine.base.Engine ()

Now that we have some mappings set up, we can make use of `session.query()` help us query our database!

### Writing Basic Queries

Let's use the `query()` object to get all the employees from the `'Employee'` table. 

In the cell below:

* Create a for loop that iterates through the results returned by a `session.query()` of the Employee table (pass this as a variable, not a string).
* Order the results by the Employee's `.HireDate` attribute.
* Print the last name, first name, and hire date of each employee.

In [39]:
for instance in session.query(Employee):
    print(instance.HireDate)

2019-04-23 21:37:03,428 INFO sqlalchemy.engine.base.Engine SELECT "Employee"."Id" AS "Employee_Id", "Employee"."LastName" AS "Employee_LastName", "Employee"."FirstName" AS "Employee_FirstName", "Employee"."Title" AS "Employee_Title", "Employee"."TitleOfCourtesy" AS "Employee_TitleOfCourtesy", "Employee"."BirthDate" AS "Employee_BirthDate", "Employee"."HireDate" AS "Employee_HireDate", "Employee"."Address" AS "Employee_Address", "Employee"."City" AS "Employee_City", "Employee"."Region" AS "Employee_Region", "Employee"."PostalCode" AS "Employee_PostalCode", "Employee"."Country" AS "Employee_Country", "Employee"."HomePhone" AS "Employee_HomePhone", "Employee"."Extension" AS "Employee_Extension", "Employee"."Photo" AS "Employee_Photo", "Employee"."Notes" AS "Employee_Notes", "Employee"."ReportsTo" AS "Employee_ReportsTo", "Employee"."PhotoPath" AS "Employee_PhotoPath"
FROM "Employee"
2019-04-23 21:37:03,429 INFO sqlalchemy.engine.base.Engine ()
2024-05-01
2024-08-14
2024-04-01
2025-05-03
2025-10-17
2025-10-17
2026-01-02
2026-03-05
2026-11-15

### Implicit JOINs using `.filter()`

One great benefit of using `session.query()` to query our data is that we can easily execute **_implicit joins_** by making use of the `.filter()` method. 

So far we've only explicitly specified mappings for the `Employee` and `Customer` classes.  We'll need to do this now for the `Product` and `Category` classes before we can use them with `session.query()`.

In the cell below, set the mappings for `Product` and `Category`.

**_HINT:_** This will look just like the last line of the code cell where we declared our mappings previously.  No need to repeat all the steps for getting metadata and creating a `Base` class. Just set the mappings!

In [40]:
Product, Category = Base.classes.Product, Base.classes.Category

Great!

Now, in the cell below:

* Create a for loop that iterates through all results returned from a query of Products and Categories
* Use the `.filter()` method to only include cases where the Product's `.CategoryID` matches the Category's `.Id` attribute.
* Print out the name of each product, followed by the name of the category that it belongs to.

In [ ]:
for p, c in session.query(Category).join(Product).filter().all():
        print()

## Summary

Great job! You've just used SQLAlchemy to work with a sample production database. Note that there are many, many more awesome things that SQLAlchemy can do, but they're outside the scope of this lesson.  However, if you're interested in learning more, don't be afraid to take a look at the [SQLAlchemy documentation](https://docs.sqlalchemy.org/en/latest/orm/tutorial.html) and work through some tutorials in your spare time!